<h2>Edit Question Page</h2>

<%= form_for @question do |f|%>

  <p>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
  <%= link_to 'Index', root_path %>
